body{
    background-color: green;
}
/* container for form */
.submain{
    padding-left:25px;
    background-color:white;
    width: 400px;
    height:auto;
    position: absolute;
    left: 500px;
    
    
}
.field{
    width: 370px;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.message{
    width: 370px;
    height: 100px;
    text-align: center;
}  
.bttns{
    width: 370px;
    height: 35px;
    background-color: green;
    color: white;
    border-style: none;
}